.vs
/SharedMemory/SharedMemory/bin/Debug/
/SharedMemory/SharedMemory/obj/Debug/
/SharedMemory/SharedMemory/obj/Debug/SharedMemory.pdb
/SharedMemory/SharedMemory/obj/Debug/SharedMemory.exe
/SharedMemory/SharedMemory/bin/Debug/SharedMemory.pdb
/SharedMemory/SharedMemory/bin/Debug/SharedMemory.exe
